h2 {
	color: #634315;
	font-family: 'Poiret One', cursive;
	text-align: center;
	margin-top: 20px;
}

.container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.error {
	color: red;
}

.field {
	margin-bottom: 15px;
	color: #634315;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Poiret One', cursive;
}

.field div:first-child {
	margin-bottom: 10px;
}

.field input {
	width: 200px;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 8px;
	border: 1px solid #997540;
	color: #634315;
	background: #F6E9D6;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
}

.field input:focus {
	color: #634315;
	background: #F6E9D6;
	outline: none;
}

.btn {
	margin-top: 30px;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 8px;
	width: 150px;
	border: 1px solid #997540;
	color: #634315;
	background: #F6E9D6;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	cursor: pointer;
}

.btn:hover {
	background: white;
	transition: .2s;
}